<!DOCTYPE html>
<html>

<head>
    <title>Rails Detect Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e473a2bdbc.js" crossorigin="anonymous"></script>
</head>

<body class="bg-gray-300">

    <div class="min-h-screen">
        <nav class="flex px-4 border-b md:shadow-lg items-center relative bg-raveblue-500">
            <div class="text-lg text-white font-bold md:py-0 py-4">
                medidata
            </div>
            <ul class="md:px-2 ml-auto md:flex md:space-x-2 absolute md:relative top-full left-0 right-0 text-white">
                <li class="relative parent">
                    <a href="#"
                        class="flex justify-between md:inline-flex p-4 items-center hover:bg-raveblue-600 space-x-2">
                        <span class="text-white">Help</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1 text-white"
                            viewBox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                        </svg>
                    </a>
                    <ul
                        class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-raveblue-500 md:shadow-lg md:rounded-b ">
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 3</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="relative parent">
                    <a href="#"
                        class="flex justify-between md:inline-flex p-4 items-center hover:bg-raveblue-600 space-x-2">
                        <span class="text-white">Detect</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1 text-white"
                            viewBox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                        </svg>
                    </a>
                    <ul
                        class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-raveblue-500 md:shadow-lg md:rounded-b ">
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Sub Menu 3</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="relative parent">
                    <a href="#"
                        class="flex justify-between md:inline-flex p-4 items-center hover:bg-raveblue-600 space-x-2">
                        <span class="text-white">John Doe</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 fill-current pt-1 text-white"
                            viewBox="0 0 24 24">
                            <path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" />
                        </svg>
                    </a>
                    <ul
                        class="child transition duration-300 md:absolute top-full right-0 md:w-48 bg-raveblue-500 md:shadow-lg md:rounded-b ">
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex px-4 py-3 hover:bg-raveblue-600">
                                <span class="text-white">Settings</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="ml-auto md:hidden text-white cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 fill-current" viewBox="0 0 24 24">
                    <path
                        d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z" />
                </svg>
            </div>
        </nav>


        <div class="bg-gray-200">
            <nav class="h-screen flex flex-col w-64 bg-gray-50">

                <ul class="p-2 space-y-2 flex-1 overflow-auto" style="scrollbar-width: thin;">
                    <li>
                        <a href="#" class="flex space-x-2 items-center text-gray-600 p-2 bg-gray-200 rounded-lg">

                            <i class="fas fa-tachometer-alt"></i><span class="text-gray-900">Overview</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex space-x-2 items-center text-gray-600 p-2 hover:bg-gray-200 rounded-lg hover:text-gray-900">
                            <i class="fas fa-chart-bar"></i><span>Error Plots</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex space-x-2 items-center text-gray-600 p-2 hover:bg-gray-200 rounded-lg hover:text-gray-900">
                            <i class="fas fa-chart-line"></i><span>Event Incidence Plot</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex space-x-2 items-center text-gray-600 p-2 hover:bg-gray-200 rounded-lg hover:text-gray-900">
                            <i class="fas fa-chart-pie"></i><span>KRIs</span>
                        </a>
                    </li>


                </ul>

                <div class="p-2 flex items-center justify-center border-t-2 border-gray-300 space-x-4">

                    <a href="#" class="tracking-wide text-raveblue-600 uppercase">
                        <i class="fas fa-chevron-left"></i> close
                    </a>

                </div>
            </nav>

        </div>
    </div>

</body>

</html>