<!DOCTYPE html>
<html>

<head>
    <title>Rails Detect Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e473a2bdbc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.min.js" integrity="sha512-VMsZqo0ar06BMtg0tPsdgRADvl0kDHpTbugCBBrL55KmucH6hP9zWdLIWY//OTfMnzz6xWQRxQqsUFefwHuHyg==" crossorigin="anonymous"></script>

</head>
    <body class="bg-gray-300">
        <div class="min-h-screen">
            <!-- Header Bar -->
            <div class="w-full text-white bg-raveblue-500">



              <div x-data="{ open: false }"
                class="grid grid-cols-10 gap-1 px-2 pb-2">
                <!-- Row 1 -->
                <div class="col-start-1 col-span-10">

                  <div class="p-2 flex flex-row items-center justify-between">
                    <a href="#"
                       class="text-lg font-semibold tracking-wider text-white rounded-lg focus:outline-none focus:shadow-outline">
                      <i class="fas fa-th"> </i> medidata
                    </a>
                    <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="open = !open">
                      <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                        <path x-show="!open" fill-rule="evenodd"
                              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
                              clip-rule="evenodd"></path>
                        <path x-show="open" fill-rule="evenodd"
                              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                              clip-rule="evenodd"></path>
                      </svg>
                    </button>
                  </div>

                </div>
                <!-- Row 2 -->
                <div class="col-start-1 md:col-span-2 col-span-3">
                  <nav :class="{'flex': open, 'hidden': !open}"
                       class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-start md:flex-row">

                    <div class="relative md:pt-4">
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span><i class="fas fa-home"> </i>  Study-123</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                  </nav>
                </div>
                <div class="md:col-start-3 sm:col-start-4 md:col-span-4 sm:col-span-3 text-left">

                  <div :class="{'flex': open, 'hidden': !open}"
                        class="grid grid-cols-1 gap-1 md:pb-0 hidden md:flex justify-start md:flex-row lg:-ml-14">

                    <div class="flex flex-col">
                      <span class="text-xs font-semibold uppercase px-4">studies</span>
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>Project_Name_21</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>

                    <div class="flex flex-col">
                      <span class="text-xs font-semibold uppercase px-4">actions</span>
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>Medidata Detect</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                    <div class="flex flex-col">
                      <span class="text-xs font-semibold uppercase px-4">environments</span>
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>Production</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                  </div>



                </div>
                <div class="col-start-7 col-span-4 md:pt-4">

                  <nav :class="{'flex': open, 'hidden': !open}"
                       class="flex-col flex-grow pb-4 md:pb-0 hidden md:flex md:justify-end md:flex-row">

                    <div class="relative">
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>Help</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                    <div class="relative">
                      <button
                        class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>Detect</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                    <div @click.away="open = false" class="relative" x-data="{ open: false }">
                      <button @click="open = !open"
                              class="flex flex-row items-center w-full px-4 py-2 mt-2 text-sm text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:text-gray-100 focus:text-gray-100 hover:bg-raveblue-600 focus:bg-raveblue-600 focus:outline-none focus:shadow-outline">
                        <span>John Doe</span>
                        <svg fill="currentColor" viewBox="0 0 20 20"
                             :class="{'rotate-180': open, 'rotate-0': !open}"
                             class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1">
                          <path fill-rule="evenodd"
                                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                clip-rule="evenodd"></path>
                        </svg>
                      </button>
                      <div x-show="open" x-transition:enter="transition ease-out duration-100"
                           x-transition:enter-start="transform opacity-0 scale-95"
                           x-transition:enter-end="transform opacity-100 scale-100"
                           x-transition:leave="transition ease-in duration-75"
                           x-transition:leave-start="transform opacity-100 scale-100"
                           x-transition:leave-end="transform opacity-0 scale-95"
                           class="absolute right-0 w-full mt-2 origin-top-right rounded-md shadow-lg md:w-48 z-10">
                        <div class="px-2 py-2 bg-white rounded-md shadow">
                          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 text-gray-900 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                             href="#">Link #1</a>
                          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 text-gray-900 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                             href="#">Link #2</a>
                          <a class="block px-4 py-2 mt-2 text-sm font-semibold bg-transparent rounded-lg md:mt-0 text-gray-900 hover:text-gray-900 focus:text-gray-900 hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline"
                             href="#">Link #3</a>
                        </div>
                      </div>
                    </div>
                  </nav>
                </div>

              </div>

                <div x-data="{ open: false }"
                    class="flex flex-col px-4 mx-auto sm:items-center md:justify-between md:flex-row md:px-6 lg:px-8">




                </div>
            </div>

            <!-- Main -->
            <div class="flex flex-wrap bg-gray-100 w-full h-screen">

                <!-- Sidebar -->
                <div class="md:w-3/12 w-4/12 bg-white rounded shadow-lg">
                    <ul class="text-sm mt-2 flex flex-col h-full">
                        <li class="">
                          <a href="/overview"
                                class="<%= params[:controller] == 'overview' ? 'bg-gray-200' : '' %> border-l-2 h-12 border-raveblue-500 flex items-center space-x-3 text-gray-700 p-3 font-medium hover:bg-gray-200 focus:shadow-outline">
                                <span class="text-gray-600">
                                    <i class="fas fa-tachometer-alt"> </i>
                                </span>
                                <span>Overview</span>
                            </a>
                        </li>
                       <li class="">
                            <a href="/error-plots"
                                class="<%= params[:controller] == 'error_plots' ? 'bg-gray-200' : '' %> h-12 flex items-center space-x-3 text-gray-700 p-3 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                                <span class="text-gray-600">
                                    <i class="fas fa-chart-bar"> </i>
                                </span>
                                <span>Error Plots</span>
                            </a>
                        </li>
                       <li class="">
                            <a href="/event-plots"
                                class="<%= params[:controller] == 'event_plots' ? 'bg-gray-200' : '' %> h-12 flex items-center space-x-3 text-gray-700 p-3 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                                <span class="text-gray-600">
                                    <i class="fas fa-chart-line"> </i>
                                </span>
                                <span>Event Incidence Plot</span>
                            </a>
                        </li>
                      <li class="">
                            <a href="/kri"
                                class="<%= params[:controller] == 'kri' ? 'bg-gray-200' : '' %> h-12 flex items-center space-x-3 text-gray-700 p-3 rounded-md font-medium hover:bg-gray-200 focus:bg-gray-200 focus:shadow-outline">
                                <span class="text-gray-600">
                                    <i class="fas fa-chart-pie"> </i>
                                </span>
                                <span>KRIs</span>
                            </a>
                        </li>
                      <li class="mt-auto">
                        <div class="p-2 flex items-center justify-center border-t-2 border-b-2 border-gray-300 space-x-4">
                          <a href="#" class="tracking-wide text-raveblue-600 uppercase">
                            <i class="fas fa-chevron-left"></i> close
                          </a>
                        </div>
                      </li>
                    </ul>
                </div>
                <!-- Viewport -->
                <div class="md:w-9/12 w-8/12">
                  <%= yield %>
                  <div class="p-4">
                    <span class="italic text-sm text-gray-600">Medidata Detect is owned by Medidata Solutions, and this project is not affiliated with them in any way. This is a sample web app to experiment with Rails, Tailwind, and Docker.</span>
                  </div>
                </div>
            </div>
        </div>
    </body>

</html>